* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: aliceblue;
}

.card {
  margin: 20px 0;
}

.card-header {
  text-align: center;
}

main {
  width: 60%;
  margin: 0 auto;
}

.container {
  width: 500px;
  padding: 10px;
  margin: 0 auto;
}

textarea {
  width: 100%;
}

.uebra-linha {
  display: block;
}

button {
  padding: 5px 15px;
}

.lado {
  display: inline;
}