.center {
  text-align: center;
}

.header {
  width: 200px;
}
.conteiner{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.conteudo {
  text-align: center;
  width: 200px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid;
  border-radius: 10px;
}